body {
    background: black;
}
h1 {
    text-align: center;
    color:white;
}

p {
    text-align: center;
    color:white;
}

canvas {
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
    width: 90%;
}